main {
  min-height: 100vh;
}


}
label {
  color:  #dc3545;
  font-family: 'Fjalla One', sans-serif;
}
select {
  border-radius: 2px;
  font-family: 'Fjalla One', sans-serif;
}
li {
  color: #dc3545;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
}
