label {
  display: block;
}

form label,
form input,
form legend{
  color: #dc3545;
  font-family: 'Fjalla One', sans-serif;
  padding: 5px;
}

input,
select{
  border-radius: 10px;
  font-family: 'Fjalla One', sans-serif;
  width: 30%;
  margin-bottom: 20px;
}

select {
  padding: 10px;
}

#titulo-main {
  color: #dc3545;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
}

.boton {
  font-family: 'Fjalla One', sans-serif;
  background-color: rgba(204, 67, 140, 0);
  padding: 5px;
  color: #dc3545;
  border: outset 2px rgba(139, 137, 90, 0);
  font-size: 20px;
}
main{
  text-align: center;
}

#serie_recomm {
border: double 3px #dc3545;
justify-content: space-around;
margin: 20px;
display: flex;
width: auto;
align-items: center;


}

#serie_recomm section {
  flex-wrap: wrap;
  width: 50%;
  padding: 20px

}

a{
  color: #dc3545;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px
}
a:hover {
  color: #dc3545;
  text-decoration: underline;
}

p {
font-family: 'Fjalla One', sans-serif;
color: white;
font-size: 15px;
align-self: center;
}
h3 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 30px;
  text-transform: uppercase;

}
.resultados ul {
  margin: auto;
}
