main {
  min-height: 100vh;
}

.uk-container {
  background-color: black;
  opacity: 0.9;
  padding: 30px;
  padding-bottom: 40px;
  }

.uk-section li {
    color:  #dc3545;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
  }

.uk-section h2 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
}

.uk-container p,
.uk-container a {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  margin: 10px 0;
}

.uk-container a:hover {
  color:#dc3545 ;
  font-size: 20px;
  text-decoration: none;
}

#contenedor-carrusel {
  width: 50%;
}
.recomm{
  width: 150px;
  justify-content: space-around;
}

.uk-container button {
  color:#dc3545 ;
  font-family: 'Fjalla One', sans-serif;
  background-color: black;
  font-size: 20px;
  opacity: 0.9;
  border: none;
  margin: 20px 0;
  padding: 5px;
  border: solid 2px rgba(246, 247, 250, 0);
}

button:hover {
  border: solid 2px #dc3545;
  color: white;
  padding: 5px;
}

#videoTrailer {
  margin: 10px 0;
}

.uk-slider {
  width: 100%;
}

#foto_info{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.info_serie {
  flex-wrap: wrap;
}

.info_serie p {
  margin-left: 30px;
}

.info_serie img {
  max-width: none;
}  /* tuve que poner esto para que no me achicara el poster de la serie */

#reviews h3 {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  padding: 0 10px;
}

#masinfo {
  display: flex;
  justify-content: space-between;
}

#trailer,
#reviews {
  flex-wrap: wrap;
}
#reviews {
  margin: 20px 0;
  width: 50%;
  margin-left: 40px;

}

#reviews p {
  text-align: justify;
  font-size: 16px;
  padding: 0;
  font-style: italic;
  color: #dc3545
}
#reviews h3 {
  text-align: center;
  color: #dc3545;
  text-decoration: underline;
}

#primer_comentario {
  width: 100%;
  padding: 5px;
  font-family: 'Fjalla One', sans-serif;
  border: 2px solid #dc3545;
  font-size: 15px;
  margin-top: 10px;
}

#comentario_1 {
  font-family: 'Fjalla One', sans-serif;
  color: #dc3545;
  font-size: 20px;
}
