*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

body {
  background-image: url(../img/pochoclo.JPG);
}


.contenedor-body {
  background-color: black;
  opacity: 0.9;
  width: 80%;
}

li {
  list-style: none;
   font-family: 'Fjalla One', sans-serif;
}

/* INICIO MEDIA QUERIES CEL - TABLET - SMARTPHONE */

@media (max-width: 850px) {
  }

@media (min-width:451px) and (max-width:750px) {

}

@media  only screen and (max-width:450px){

}
/* FIN MEDIA QUERIES CEL - TABLET - SMARTPHONE */
