*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

body {
  background-image: url(../img/pochoclo.JPG);
}



.uk-container {
  background-color: black;
  opacity: 0.9;
  padding: 30px 15px;
}

li {
  list-style: none;
   font-family: 'Fjalla One', sans-serif;
}
#toptop {
   font-family: 'Fjalla One', sans-serif;
   text-decoration: none;
   background-color: black;
   color: #dc3545;
   padding: 3px;
   margin: 60px;
   border-radius: 4px;
   font-size: 50px;
  
}

/* INICIO MEDIA QUERIES CEL - TABLET - SMARTPHONE */

@media (max-width: 850px) {
  }

@media (min-width:451px) and (max-width:750px) {

}


@media  only screen and (max-width:450px){

}
/* FIN MEDIA QUERIES CEL - TABLET - SMARTPHONE */
