header {
  text-align: center;
  background-color:black;
  opacity: 0.9;
  height:200px;
}

.main-nav ul {
display: flex;
justify-content: space-around;
width: 40%;
list-style: none;
}

.opciones {
color:  #dc3545;
text-decoration: none;
font-family: 'Fjalla One', sans-serif;
font-size: 35px;
}

.opciones:hover {
  color: white;
  border: outset 2px #dc3545;
  text-decoration: none;
  padding: 3px;
  background-color: #dc3545
}

.logo {width:200px;}
.logo:hover{-webkit-transform:scale(0.9);transform:scale(0.9);}
.efecto-imagen {overflow: hidden;}

nav {
margin-top:-115px;
}

#generos {
  background-color: rgba(6, 6, 6, 0);
  border: none;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
}

#generos:hover{
  color: white;
  border: outset 2px #dc3545;
  text-decoration: none;
  padding: 3px;
  background-color: #dc3545
}
