header {
  text-align: center;
  background-color:black;
  opacity: 0.9;
  height:200px;
  position: relative;
  z-index: 200;
}

.main-nav > ul {
display: flex;
justify-content: space-around;
width: 40%;
list-style: none;
}


#generos:hover,
.opciones:hover {
  color: white;
  border: outset 2px #dc3545;
  text-decoration: none;
  padding: 3px;
  background-color: #dc3545
}

.logo {width:200px;}
.logo:hover{-webkit-transform:scale(0.9);transform:scale(0.9);}
.efecto-imagen {overflow: hidden;}

nav {
margin-top:-115px;
}


#generos,
.opciones {
  color:  #dc3545;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 35px;
  line-height: 40px;
  border: none;
}

.uk-dropdown-nav li {
  font-size: 18px;
}

.uk-dropdown-nav li:hover {
  color:rgb(0, 0, 0);
