main {
  height: 100vh;
}
 .populares {
   width: 50%;
 }
 .mayorPuntaje {
   width: 50%;
 }
 .AlAire {
   width: 50%;
 }
 li {
   color:  #dc3545;
   text-decoration: none;
   font-family: 'Fjalla One', sans-serif;
   font-size: 20px;
 }
 .secciones:hover {
   color: white;
   border: outset 2px #dc3545;
   text-decoration: none;
   padding: 3px;
   background-color: #dc3545;
 }

 .secciones {
   text-transform: uppercase;
 }
