main {
  height: auto;
}
 .populares {
   width: 100%;

 }
 .mayorPuntaje {
   width: 100%;
 }
 .AlAire {
   width: 100%;
 }
 li {
   color:  #dc3545;
   text-decoration: none;
   font-family: 'Fjalla One', sans-serif;
   font-size: 30px;
   margin: 4px;
   text-align: center;
 }

 .secciones {
   text-transform: uppercase;
 }
.uk-container {
  background-color: black;
  opacity: 0.9;
}
ul {
  width: 70%;
}
