.uk-slider-items h2 {
  text-align: center;
  font-size: 20px;
  color: white;
  z-index: 200;
  position: absolute;
  text-transform: capitalize;
  font-family: 'Fjalla One', sans-serif;
  bottom: 50px;
  margin: 20px;
  
}

.uk-slider-items h2:hover {
  text-decoration: underline;
}

.uk-active img {
  z-index: 0;
  position: absolute;
}

.uk-slider-items img:hover{
  opacity: 0.7;
}

li.uk-active {
  position: relative;
}

#titulo-resultados {
color: #dc3545;
text-decoration: none;
font-family: 'Fjalla One', sans-serif;
font-size: 25px;
text-align: center;
}

.uk-container div{
  margin-top: 20px;
  margin-bottom: 50px;
}
