*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/pochoclo.JPG);
}
/*  INICIO HEADER */

.main-header {
  text-align: center;
  background-color:black;
  opacity: 0.9;
  height:200px;
}
.logo:hover{
  -webkit-transform:scale(0.9);transform:scale(0.9);
}
.efecto-imagen { overflow: hidden;}

.main-nav a {
color:  #dc3545;
text-decoration: none;
font-family: 'Fjalla One', sans-serif;
font-size: 25px;
}

.main-nav ul {
display: flex;
justify-content: space-between;
}

.main-header header{
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav ul li{
list-style: none;
text-align: center;
}
.opciones:hover {
  color: white;
  border: outset 2px #dc3545;
  text-decoration: none;
  padding: 3px;
  background-color: #dc3545

}

.logo {
  width:200px;
}
nav {
margin-top:-115px;
}
/*  FIN HEADER */
.carousel1 li{
  color: white;
  list-style: none;
  background-color: #dc3545;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  border: outset 2px #dc3545;
  padding: 3px;
  width: 20%;
  text-align: center;
}

.contenedor-body {
  background-color: black;
  opacity: 0.9;
  width: 80%;


}

/*  INICIO FOOTER */
.main-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  justify-content: space-around;
  font-family: 'Fjalla One', sans-serif;
  color: #dc3545;
}
#seguinos {
  text-align: center;
}
#nosotros {
  text-align: center;
}
#informacion {
  text-align: center;
}
.footer-details {
  list-style: none;
}
.footer-hipervinculo {
  color: #dc3545;
}
.footer-hipervinculo:hover{
  color: white;
  text-decoration: none
}

.thdb {
width: 50px;
}
/* FIN FOOTER */

.buscador {
    width: 70%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#carouselExampleControls {
  width: 30%;

}

 #redes{
  color: white;
  width: 100px;
}


.has-search .form-control {
    padding-left: 2.375rem;
    width: 200%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#top {
  background-color: black;
  font-family: Fjalla One;
  color: white;
  outline: none;
  border: none;
  padding: 5px;
  margin-left: 10px;
}

/* INICIO MEDIA QUERIES CEL - TABLET - SMARTPHONE */

@media (max-width: 850px) {
  }

@media (min-width:451px) and (max-width:750px) {

}

@media  only screen and (max-width:450px){

}
/* FIN MEDIA QUERIES CEL - TABLET - SMARTPHONE */
