* {

  .encabezado section {
    width: 20%;
    display:flex:
    flex-wrap:wrap;
  }
box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.encabezado header{
  width: 100%;
  display: flex;
  border: solid 1px red;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color: red;
  height: 200px;


}
.encabezado ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif;


}

.contenedor-encabezado{

  width: 100px;
  list-style: none;

}
header section {
  width: 50%;
}

.logo {
  background-color: white;
  border-radius: 20px;
  border: solid 1px white;
}
