* {box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
width:100%;
align-items: center;
margin: auto;
border: red solid 1px;
}

.main-header {
  text-align: center;
  background-color: red;
  height:200px;
}

.main-nav a {
color: black;
text-decoration: none;
font-family: 'Fjalla One', sans-serif;
font-size: 25px;
}

.main-nav ul {
display: flex;
justify-content: space-between;
}
.main-nav ul li{
list-style: none;
text-align: center;
}
.logo {
  width:200px;
}
nav {
margin-top:-115px;
}
.main-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: red;
  justify-content: center;
  
}
section #seguinos{
  width: 33%;
  left:30px
}
section #nosotos{
width: 33%;
}
section #infomracion{
width: 33%;

}
